<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about.html">About Me</a></li>
	        		<!--  <li><a href="/resume">Resume</a></li>  -->
	        		<li><a href="/blog/home.html">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:abby.sun.ca@gmail.com">email me</a></li>
	        		<li><a href="https://github.com/abbysun">view my GitHub account</a></li>
				</ul>
			</footer>
		</body>
	</html>
